In [113]:
import pandas as pd
import numpy as np

In [114]:
properties = pd.read_csv('../csv_files/properties_correlated.csv')
properties.head()

/snap/jupyter/6/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11,12,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [ ]:
emre:      locality,garden, garden_area, building_state
sravanthi: property_subtype, land_surface, land_plot_surface, kitchen_has
philippe:  rooms_number, open_fire, terrace, terrace_area
didier:    area, facades_number, furnished, swimming_pool_has

In [115]:
properties.shape

(93068, 22)

In [116]:
properties.columns

Index(['source', 'hyperlink', 'locality', 'postcode', 'house_is',
       'property_subtype', 'price', 'sale', 'rooms_number', 'area',
       'kitchen_has', 'furnished', 'open_fire', 'terrace', 'terrace_area',
       'garden', 'garden_area', 'land_surface', 'land_plot_surface',
       'facades_number', 'swimming_pool_has', 'building_state'],
      dtype='object')

In [117]:
properties.columns = ['source', 'hyperlink', 'locality', 'postcode', 'house_is',
       'property_subtype', 'price', 'sale', 'rooms_number', 'area',
       'kitchen_has', 'furnished', 'open_fire', 'terrace', 'terrace_area',
       'garden', 'garden_area', 'land_surface', 'land_plot_surface',
       'facades_number', 'swimming_pool_has', 'building_state']

In [118]:
pd.options.display.max_rows = 4000

## properties.room_number

In [119]:
# replace None to np.nan
properties.rooms_number.fillna(value=np.nan, inplace=True)
properties.rooms_number[properties.rooms_number==None]

Series([], Name: rooms_number, dtype: object)

In [120]:
# replace 'None' to np.nan
properties.rooms_number = properties.rooms_number.apply(lambda x : np.nan if x=='None' else x)
properties.rooms_number[properties.rooms_number=='None']

Series([], Name: rooms_number, dtype: object)

In [126]:
properties.rooms_number = properties.rooms_number.replace('Not specified', np.nan)

In [127]:
# change data type of rooms_number from object to float64
properties.rooms_number = properties.rooms_number.astype('float64')

## properties.area

In [128]:
# remove 'm2' from value of area
properties.area = properties.area.replace("[^0-9.-]", "", regex=True)

In [129]:
# replace '' from value of area
properties.area = properties.area.replace("", np.nan)

In [130]:
# replace None to np.nan
properties.area.fillna(value=np.nan, inplace=True)

In [131]:
# replace 'None' to np.nan
properties.area = properties.area.apply(lambda x : np.nan if x=='None' else x)
properties.area[properties.area=='None']

Series([], Name: area, dtype: object)

In [132]:
properties.area = properties.area.replace('Not specified', np.nan)

In [133]:
# change data type from object to float64
properties.area = properties.area.astype('float64')

## kitchen_has

In [ ]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## furnished

In [ ]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## open_fire

In [ ]:
# change data type from object to float64
properties.kitchen_has = properties.kitchen_has.astype('float64')

## terrace

In [ ]:
# change numerical data to np.nan
properties.terrace = properties.terrace.replace(r'\d\.?\d?', 'np.nan', regex=True)

In [ ]:
# replace string False to False
properties.terrace = properties.terrace.replace('False', False)

In [ ]:
# change data type from object to bool
properties.terrace = properties.terrace.astype('bool')

In [ ]:
properties.terrace.value_counts(dropna=False)

## garden

In [ ]:
# replace string False to False
properties.garden = properties.garden.replace('False', False)

In [ ]:
# change data type from object to bool
properties.garden = properties.garden.astype('bool')

In [ ]:
properties.garden.value_counts()

## terrace_area

In [ ]:
# replace 'None' to np.nan
properties.terrace_area = properties.terrace_area.apply(lambda x : np.nan if x=='None' else x)
properties.terrace_area[properties.terrace_area=='None']

In [ ]:
properties.terrace_area = properties.terrace_area.replace(True, np.nan)
properties.terrace_area = properties.terrace_area.replace('TRUE', np.nan)

In [ ]:
# change data type from object to float64
properties.terrace_area = properties.terrace_area.astype('float64')

## price

In [ ]:
# replace 'm2' from value of area
properties.price = properties.price.replace(r'\w|\W|\s', '', regex=True)

In [ ]:
# replace 'm2' from value of area
properties.price = properties.price.replace('', np.nan)

In [ ]:
# replace None to np.nan
properties.price.fillna(value=np.nan, inplace=True)
properties.price[properties.price==None]

In [ ]:
# replace 'None' to np.nan
properties.price = properties.price.apply(lambda x : np.nan if x=='None' else x)
properties.price[properties.price=='None']

In [ ]:
# change data type from object to float64
properties.price = properties.price.astype('float64')

In [ ]:
properties.price.value_counts()

In [ ]:
properties2 = properties[['locality', 'postcode', 'house_is',
       'property_subtype', 'price', 'rooms_number', 'area',
       'kitchen_has', 'furnished', 'open_fire', 'terrace', 'terrace_area',
       'garden', 'garden_area', 'land_surface', 'land_plot_surface',
       'facades_number', 'swimming_pool_has', 'building_state']]

In [ ]:
properties.rooms_number

In [ ]:
# Compute the covariance matrix: covariance_matrix
covariance_matrix = np.cov(properties.terrace, properties.terrace_area)

# Print covariance matrix
print(covariance_matrix)

# Extract covariance of length and width of petals: petal_cov
petal_cov = covariance_matrix[0,1]

# Print the length/width covariance
print(petal_cov)

In [ ]:
cov_matrix = pd.DataFrame.cov(properties2)

# Print the covariance matrix
print(cov_matrix)