In [21]:
###  Set up the environment and load the data

import pandas as pd
import numpy as np
df = pd.read_csv('properties.csv')

### Trim spaces in column names

df.columns = df.columns.str.replace(' ', '')
df.head()

/home/becode/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4,6,8,9,11,12,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [7]:
df.columns = ['source', 'hyperlink', 'locality', 'postcode', 'house_is',
       'property_subtype', 'price', 'sale', 'rooms_number', 'area',
       'kitchen_has', 'furnished', 'open_fire', 'terrace', 'terrace_area',
       'garden', 'garden_area', 'land_surface', 'land_plot_surface',
       'facades_number', 'swimming_pool_has', 'building_state']

# Garden

In [8]:
# replace string False to False
df.garden = df.garden.replace('False', False)

In [9]:
# change data type from object to bool
df.garden = df.garden.astype('bool')
df.garden.value_counts()

False    49176
True     26700
Name: garden, dtype: int64

# Garden Area

In [26]:
# replace None to np.nan
df.garden_area.fillna(value=np.NaN, inplace=True)
df.garden_area[df.garden_area==None]

# replace 'None' to np.nan
df.garden_area = df.garden_area.apply(lambda x : np.nan if x=='None' else x)
df.garden_area[df.garden_area=='None']

# change data type of rooms_number from object to float64
df.garden_area = df.garden_area.astype('float64')

/home/becode/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

# land_surface

In [49]:
# replace np.nan TO 0
df.land_surface = df.land_surface.replace(np.nan,0, regex=True)

# replace None to np.nan

df.land_surface.fillna(value=np.nan, inplace=True)
df.land_surface[df.land_surface=='None']


# replace 'None' to np.nan
df.land_surface = df.land_surface.apply(lambda x : np.nan if x=='None' else x)
df.land_surface[df.land_surface=='None']

Series([], Name: land_surface, dtype: object)

# land_plot_surface

In [84]:
# replace np.nan TO 0
df.land_plot_surface = df.land_plot_surface.replace(np.nan,0, regex=True)

# replace 'yes' from value to 0
df.land_plot_surface = df.land_plot_surface.replace(r'\w|\W|\s', '', regex=True)

# replace None to np.nan

df.land_plot_surface.fillna(value=np.nan, inplace=True)
df.land_plot_surface[df.land_surface=='None']


# replace 'None' to np.nan
df.land_plot_surface = df.land_plot_surface.apply(lambda x : np.nan if x=='None' else x)
df.land_plot_surface[df.land_plot_surface=='None']

Series([], Name: land_plot_surface, dtype: object)

# facades_number

In [69]:
# replace 'None' to np.nan
df.facades_number = df.facades_number.apply(lambda x : np.nan if x=='None' else x)
df.facades_number[df.facades_number=='None']

# change data type of facades_number from object to float64
df.facades_number = df.facades_number.astype('float64')

# swimming_pool_has

In [82]:
 #change numerical data to np.nan
df.swimming_pool_has = df.swimming_pool_has.replace(r'\d\.?\d?', 'np.nan', regex=True)

# replace string False to False
df.swimming_pool_has = df.swimming_pool_has.replace('False', False)

# change data type from object to bool
df.swimming_pool_has = df.swimming_pool_has.astype('bool')

df.swimming_pool_has.value_counts(dropna=False)

False    63961
True     11915
Name: swimming_pool_has, dtype: int64

# building_state

In [83]:
# change numerical data to np.nan
df.building_state = df.building_state.replace(r'\d\.?\d?', 'np.nan', regex=True)

df.building_state.unique()

array(['GOOD', 'AS_NEW', 'TO_RENOVATE', 'JUST_RENOVATED', 'TO_BE_DONE_UP',
       'TO_RESTORE', nan, 'NotUnknownspecified', 'None', 'New', 'old'],
      dtype=object)