# Write a function to apply to the processed 'locality' column

Brussels Capital Region:
1000–1299

Wallonia:
1300–1499 or 4000-7999

Flanders:
1500–1999 or 2000-3999 or 8000-9999

In [13]:
import pandas as pd
import re

#import intermediate csv file with locality column
df = pd.read_csv('test.csv', low_memory=False, index_col = 0)
df.head()

def get_region(locality):
    if locality == 'unknown':
        return 'unknown'
    else:
        if not re.search('[1-9]\d{3}', locality):
            print('Please run this on already cleaned locality column')
            return 'unknown'
        elif int(locality) >= 1000 and int(locality) <=1299:
            return 'Brussels'
        elif int(locality) >= 1300 and int(locality) <=1499:
            return 'Wallonia'
        elif int(locality) >= 4000 and int(locality) <=7999:
            return 'Wallonia'
        else:
            return 'Flanders'
        
df['region'] = df['locality'].apply(get_region)
df[['region','locality']].head(50)

      region locality
0   Wallonia     4180
1   Flanders     8730
2   Wallonia     4020
3   Brussels     1200
4   Brussels     1190
5   Wallonia     4040
6   Wallonia     4540
7   Brussels     1150
8   Wallonia     6870
9   Wallonia     4030
10  Flanders     9600
11  Brussels     1030
12  Wallonia     4500
13  Wallonia     4500
14  Brussels     1200
15  Flanders     3270
16  Wallonia     6760
17  Flanders     9290
18  Flanders     8000
19  Brussels     1140
20  Flanders     8000
21  Wallonia     6940
22  Wallonia     4671
23  Wallonia     4020
24  Brussels     1000
25  Brussels     1000
26  Brussels     1000
27  Brussels     1070
28  Wallonia     6030
29  Brussels     1030
30  Brussels     1090
31  Brussels     1050
32  Brussels     1000
33  Brussels     1050
34  Brussels     1070
35  Brussels     1150
36  Wallonia     5070
37  Wallonia     6980
38  Wallonia     6840
39  Flanders     9170
40  Flanders     8000
41  Flanders     9200
42  Brussels     1150
43  Wallonia     4300
44  Flanders     8370
45  Brussels     1020
46  Brussels     1090
47  Brussels     1150
48  Brussels     1040
49  Flanders     9000