In [734]:
import pandas as pd
import numpy as np
import re

In [735]:
df = pd.read_csv('../csv_files/properties.csv', low_memory=False)
df.head()

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW

In [736]:
df.shape

(75876, 22)

# Remove leading and trailing spaces from column names

In [737]:
df.columns = [x.strip(' ') for x in df.columns.values]

# Remove leading and trailing spaces of every element

In [738]:
# remove leading and trailing spaces and newline characters from values if they are a string
df = df.applymap(lambda x: x.strip() if type(x)==str else x)

#### 1. PostCode

In [739]:
# 1 Converts postCode into int64

df['postcode'] = df['postcode'].astype('Int64')
df['postcode'].dtypes

Int64Dtype()

#### 2. Price

In [740]:
# 2 Converting price
def grabs_strips(x):
    if type(x) == str:
        # return x.str.extract('(\d*\.?\d*)', expand=False).astype(float)
        return re.match(r'\d*\.?\d*',x).group()
    return x


df['price'] = df['price'].apply(grabs_strips)

In [741]:
# Conversion into float
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [742]:
df['price'].shape

(75876,)

In [743]:
df.dropna(subset=['price'], inplace=True)
df.shape

(73880, 22)

#### 3.Sale

In [744]:
df['sale'].replace({
    'Wohnung': "Apartment",
    'Appartement': "Apartment",
    'Apartamento': "Apartment",
    '': "Unknown",
    'None': "Unknown",
})

df.sale = df['sale'].fillna('Unknown')

## 9.properties.room_number

In [745]:
# replace None to np.nan
df.rooms_number.fillna(value=np.nan, inplace=True)
df.rooms_number[df.rooms_number==None]

Series([], Name: rooms_number, dtype: object)

In [746]:
# replace 'None' to np.nan
df.rooms_number = df.rooms_number.apply(lambda x : np.nan if x=='None' else x)
df.rooms_number[df.rooms_number=='None']

Series([], Name: rooms_number, dtype: object)

In [747]:
# change data type of rooms_number from object to float64
df.rooms_number = df.rooms_number.astype('float64')

## 10.properties.area

In [748]:
# remove 'm2' from value of area
df.area = df.area.replace("[^0-9.-]", "", regex=True)

In [749]:
# replace 'm2' from value of area
df.area = df.area.replace('', np.nan)

In [750]:
# replace None to np.nan
df.area.fillna(value=np.nan, inplace=True)

In [751]:
# replace 'None' to np.nan
df.area = df.area.apply(lambda x : np.nan if x=='None' else x)

In [752]:
# change data type from object to float64
df.area = df.area.astype('float64')

## 11.kitchen_has

In [753]:
df.kitchen_has.value_counts(dropna=False)

True     50148
False    19263
NaN       4469
Name: kitchen_has, dtype: int64

In [754]:
# change data type from object to float64
df.kitchen_has = df.kitchen_has.astype('float64')

In [755]:
df.kitchen_has.value_counts(dropna=False)

1.0    50148
0.0    19263
NaN     4469
Name: kitchen_has, dtype: int64

## 12.furnished

In [756]:
# change data type from object to float64
df.furnished = df.furnished.astype('float64')

## 13.open_fire

In [757]:
# change data type from object to float64
df.open_fire = df.open_fire.astype('float64')

## 14.terrace

In [758]:
# change numerical data to np.nan
df.terrace = df.terrace.replace(r'\d\.?\d?', True, regex=True)

In [759]:
# replace string False to False
df.terrace = df.terrace.replace('False', False)

In [760]:
# replace string False to False
df.terrace = df.terrace.replace('TRUE', True)

In [761]:
# replace string False to False
df.terrace = df.terrace.replace('True', True)

In [762]:
# change data type from object to bool
df.terrace = df.terrace.astype('float64')

In [763]:
df.terrace.value_counts(dropna=False)

1.0    34219
0.0    25809
NaN    13852
Name: terrace, dtype: int64

## 15.terrace_area

In [764]:
# replace 'None' to np.nan
df.terrace_area = df.terrace_area.apply(lambda x : np.nan if x=='None' else x)
df.terrace_area[df.terrace_area=='None']

Series([], Name: terrace_area, dtype: object)

In [765]:
df.terrace_area = df.terrace_area.replace(True, np.nan)
df.terrace_area = df.terrace_area.replace('TRUE', np.nan)

In [766]:
# change data type from object to float64
df.terrace_area = df.terrace_area.astype('float64')

# 16.Garden

In [767]:
# replace string False to False
df.garden = df.garden.replace('False', False)

In [768]:
# replace string False to False
df.garden = df.garden.replace('True', True)

In [769]:
# change data type from object to bool
df.garden = df.garden.astype('float64')

## 17.Garden Area

In [770]:
# replace None to np.nan
df.garden_area.fillna(value=np.NaN, inplace=True)
df.garden_area[df.garden_area==None]

# replace 'None' to np.nan
df.garden_area = df.garden_area.apply(lambda x : np.nan if x=='None' else x)
df.garden_area[df.garden_area=='None']

# change data type of rooms_number from object to float64
df.garden_area = df.garden_area.astype('float64')

## 18.land_surface

In [771]:
# replace None to np.nan
df.land_surface.fillna(value=np.NaN, inplace=True)

# replace np.nan TO 0
df.land_surface = df.land_surface.replace(np.nan, 0)

# replace None to np.nan
df.land_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_surface = df.land_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_surface = df.land_surface.astype('float64')

## 19.land_plot_surface

In [772]:
# replace 'yes' from value to 0
df.land_plot_surface = df.land_plot_surface.replace("[^0-9.-]", "", regex=True)

# replace 'm2' from value of area
df.land_plot_surface = df.land_plot_surface.replace('', np.nan)

# replace None to np.nan
df.land_plot_surface.fillna(value=np.nan, inplace=True)

# replace 'None' to np.nan
df.land_plot_surface = df.land_plot_surface.apply(lambda x : np.nan if x=='None' else x)

# change data type of rooms_number from object to float64
df.land_plot_surface = df.land_plot_surface.astype('float64')

## 20.facades_number

In [773]:
# replace 'None' to np.nan
df.facades_number = df.facades_number.apply(lambda x : np.nan if x=='None' else x)
df.facades_number[df.facades_number=='None']

# change data type of facades_number from object to float64
df.facades_number = df.facades_number.astype('float64')

## 21.swimming_pool_has

In [774]:
 #change numerical data to np.nan
df.swimming_pool_has = df.swimming_pool_has.replace(r'\d\.?\d?', np.nan, regex=True)

# replace string False to False
df.swimming_pool_has = df.swimming_pool_has.replace('False', False)

# change data type from object to bool
df.swimming_pool_has = df.swimming_pool_has.astype('float64')

df.swimming_pool_has.value_counts(dropna=False)

0.0    62866
NaN     8451
1.0     2563
Name: swimming_pool_has, dtype: int64

## 22.building_state

In [775]:
# change numerical data to np.nan
df.building_state = df.building_state.replace(r'\d\.?\d?', np.nan, regex=True)
df.building_state = df.building_state.apply(lambda x : np.nan if x=='None' else x)
df.building_state = df.building_state.replace(np.nan, 'Not specified')
df.building_state.unique()

array(['GOOD', 'AS_NEW', 'TO_RENOVATE', 'JUST_RENOVATED', 'TO_BE_DONE_UP',
       'TO_RESTORE', 'Not specified', 'New', 'old'], dtype=object)

# Check if there are columns with mixed data types ==> NO

In [776]:
from pandas.api.types import infer_dtype
# print data type of each column to check if there are
# any mixed ones, turns out that there are none
def is_mixed(col):
    return infer_dtype(col)

df.apply(is_mixed)

# ==> there are no columns with 'mixed' part of the inferred datatype

source                integer
hyperlink              string
locality               string
postcode              integer
house_is               string
property_subtype       string
price                floating
sale                   string
rooms_number         floating
area                 floating
kitchen_has          floating
furnished            floating
open_fire            floating
terrace              floating
terrace_area         floating
garden               floating
garden_area          floating
land_surface         floating
land_plot_surface    floating
facades_number       floating
swimming_pool_has    floating
building_state         string
dtype: object

## Find which kind of empties there are ==> there are only NaNs

In [777]:
# are there any empty strings? ==> no
#print(np.where(df.applymap(lambda x: x == '')))

# are there any NaNs? ==> yes
np.where(pd.isnull(df))

(array([18034, 18034, 18034, ..., 73879, 73879, 73879]),
 array([ 3, 14, 16, ..., 18, 19, 20]))

# Display the percent of NaNs per column

In [778]:
# display the percent of NaNs per column
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'%_missing': percent_missing})
missing_value_df = missing_value_df.sort_values('%_missing', ascending = False)
missing_value_df

                   %_missing
terrace_area       35.523822
garden_area        31.178939
land_plot_surface  26.628316
hyperlink          20.147537
facades_number     19.455874
terrace            18.749323
land_surface       18.172713
swimming_pool_has  11.438820
garden             10.246345
postcode            9.676502
furnished           7.857336
open_fire           7.472929
kitchen_has         6.048998
area                5.012182
rooms_number        0.291012
locality            0.002707
source              0.000000
sale                0.000000
price               0.000000
property_subtype    0.000000
house_is            0.000000
building_state      0.000000

# Put 'unknown' in place of NaN for everything else than int64 and float64 columns
## Please run this after converting numerical columns like price and facades from string to integer.  
Even a value of NaN might help predict the price, so to avoid the correlation algorithm skipping it?, and because NaN is not allowed, we replace it.

In [779]:
# replace all NaNs in strings with 'unknown'
df_nanfilled = df.select_dtypes(exclude=['int64','float64']).replace(np.nan, 'unknown')
df.update(df_nanfilled)
print(df.info())

# replace all 'None'/'none' strings with uknown
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('none', 'unknown')
df.update(df_nonefilled)
df_nonefilled = df.select_dtypes(exclude=['int64','float64']).replace('None', 'unknown')
df.update(df_nonefilled)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73880 entries, 0 to 75875
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source             73880 non-null  int64
 1   hyperlink          73880 non-null  object
 2   locality           73880 non-null  object
 3   postcode           66731 non-null  Int64
 4   house_is           73880 non-null  object
 5   property_subtype   73880 non-null  object
 6   price              73880 non-null  float64
 7   sale               73880 non-null  object
 8   rooms_number       73665 non-null  float64
 9   area               70177 non-null  float64
 10  kitchen_has        69411 non-null  float64
 11  furnished          68075 non-null  float64
 12  open_fire          68359 non-null  float64
 13  terrace            60028 non-null  float64
 14  terrace_area       47635 non-null  float64
 15  garden             66310 non-null  float64
 16  garden_area        50845 non-null  float64
 17  land_surface       60454 non-null  float64
 18  land_plot_surface  54207 non-null  float64
 19  facades_number     59506 non-null  float64
 20  swimming_pool_has  65429 non-null  float64
 21  building_state     73880 non-null  object
dtypes: Int64(1), float64(14), int64(1), object(6)
memory usage: 13.0+ MB
None

# Drop postcode column, because postcode is more completely available in 'locality'
### first we fix 'locality' column to carry just postcode or 'unknown' (stripping sporadic address parts)

In [780]:
df.drop('postcode', axis = 1, inplace = True)

# write a function that returns the cleaned postcode from elements
# containing the address
def clean_locality(locality): 
    # Search for the presence of a 4 digit number (starts with 1-9)
    if re.search('[1-9]\d{3}', locality):
        # get the number
        return re.findall("[1-9]\d{3}", locality)[0]
    else: 
        # if no postcode is inside insert 'unknown' 
        return 'unknown'
          
# Updated locality column
df['locality'] = df['locality'].apply(clean_locality)

## Create a region column

In [781]:
#import intermediate csv file with locality column
def get_region(locality):
    if locality == 'unknown':
        return 'unknown'
    else:
        if not re.search('[1-9]\d{3}', locality):
            print('Please run this on already cleaned locality column')
            return 'unknown'
        elif int(locality) >= 1000 and int(locality) <=1299:
            return 'Brussels'
        elif int(locality) >= 1300 and int(locality) <=1499:
            return 'Wallonia'
        elif int(locality) >= 4000 and int(locality) <=7999:
            return 'Wallonia'
        else:
            return 'Flanders'
        
df['region'] = df['locality'].apply(get_region)
df.region.value_counts()

unknown     25635
Flanders    25099
Wallonia    14520
Brussels     8626
Name: region, dtype: int64

In [782]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73880 entries, 0 to 75875
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   source             73880 non-null  int64
 1   hyperlink          73880 non-null  object
 2   locality           73880 non-null  object
 3   house_is           73880 non-null  object
 4   property_subtype   73880 non-null  object
 5   price              73880 non-null  float64
 6   sale               73880 non-null  object
 7   rooms_number       73665 non-null  float64
 8   area               70177 non-null  float64
 9   kitchen_has        69411 non-null  float64
 10  furnished          68075 non-null  float64
 11  open_fire          68359 non-null  float64
 12  terrace            60028 non-null  float64
 13  terrace_area       47635 non-null  float64
 14  garden             66310 non-null  float64
 15  garden_area        50845 non-null  float64
 16  land_surface       60454 non-null  float64
 17  land_plot_surface  54207 non-null  float64
 18  facades_number     59506 non-null  float64
 19  swimming_pool_has  65429 non-null  float64
 20  building_state     73880 non-null  object
 21  region             73880 non-null  object
dtypes: float64(14), int64(1), object(7)
memory usage: 13.0+ MB

# Remove duplicates
### should execute after fixing columns
### should execute after removing non-property detail or incomplete columns: source and hyperlink

In [783]:
# drop columns 
df.drop(['source', 'hyperlink'], axis = 1, inplace = True)

# drop 100% duplicate rows
lenght_before = len(df)
df.drop_duplicates(ignore_index = True, inplace = True)
dropped = len(df) - lenght_before
print(f'Dropped: {dropped}')

Dropped: -22575

# Print unique values per column

In [784]:
uniques = pd.DataFrame()
for col in df:
    col_uniques = pd.DataFrame({f'{col}_value': df[f'{col}'].value_counts().index,
                                f'{col}_count': df[f'{col}'].value_counts().values})
    uniques = pd.concat([uniques, col_uniques], axis = 1)

uniques.head(50)

,locality_value,locality_count,house_is_value,house_is_count,property_subtype_value,property_subtype_count,price_value,price_count,sale_value,sale_count,...,land_plot_surface_value,land_plot_surface_count,facades_number_value,facades_number_count,swimming_pool_has_value,swimming_pool_has_count,building_state_value,building_state_count,region_value,region_count
0,unknown,23377.0,False,16181.0,HOUSE,15158.0,1.0,1522.0,Unknown,27823.0,...,0.0,1892,0.0,17138.0,0.0,43345.0,Not specified,26186.0,unknown,23377.0
1,8300,1166.0,True,15539.0,APARTMENT,10047.0,295000.0,592.0,unknown,9492.0,...,100.0,352,2.0,10184.0,1.0,1982.0,AS_NEW,11031.0,Flanders,14461.0
2,1180,940.0,TRUE,9436.0,apartment,3624.0,2.0,571.0,residential_sale,9395.0,...,90.0,313,4.0,7085.0,NaN,NaN,GOOD,7654.0,Wallonia,8438.0
3,1000,729.0,Yes,4794.0,house,3562.0,199000.0,567.0,Apartment,2929.0,...,120.0,291,3.0,5449.0,NaN,NaN,TO_BE_DONE_UP,2049.0,Brussels,5029.0
4,1050,684.0,No,4698.0,VILLA,3247.0,275000.0,555.0,first_session_with_reserve_price,620.0,...,70.0,290,1.0,239.0,NaN,NaN,TO_RENOVATE,1777.0,NaN,NaN
5,9000,568.0,FALSE,657.0,APARTMENT_BLOCK,1909.0,299000.0,555.0,Wohnung,262.0,...,80.0,289,10.0,2.0,NaN,NaN,JUST_RENOVATED,1617.0,NaN,NaN
6,8400,454.0,NaN,NaN,MIXED_USE_BUILDING,1708.0,249000.0,554.0,Public Sale,172.0,...,110.0,262,6.0,1.0,NaN,NaN,old,475.0,NaN,NaN
7,4000,330.0,NaN,NaN,Apartment,1279.0,225000.0,532.0,Huis,142.0,...,150.0,255,NaN,NaN,NaN,NaN,New,393.0,NaN,NaN
8,1150,297.0,NaN,NaN,DUPLEX,900.0,395000.0,516.0,House,129.0,...,85.0,223,NaN,NaN,NaN,NaN,TO_RESTORE,123.0,NaN,NaN
9,1200,291.0,NaN,NaN,PENTHOUSE,865.0,325000.0,455.0,Maison,108.0,...,75.0,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1070,283.0,NaN,NaN,EXCEPTIONAL_PROPERTY,670.0,195000.0,438.0,Apartamento,77.0,...,200.0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8370,268.0,NaN,NaN,GROUND_FLOOR,625.0,250000.0,438.0,annuity_monthly_amount,73.0,...,60.0,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1030,263.0,NaN,NaN,MANSION,593.0,349000.0,425.0,Appartement,57.0,...,130.0,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4500,258.0,NaN,NaN,villa,473.0,245000.0,410.0,Notary Sale,13.0,...,160.0,185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9300,257.0,NaN,NaN,FLAT_STUDIO,461.0,175000.0,393.0,Appartamento,8.0,...,95.0,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8000,255.0,NaN,NaN,House,317.0,495000.0,387.0,last_session_reached_price_min_overbid,2.0,...,50.0,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1420,253.0,NaN,NaN,TOWN_HOUSE,304.0,165000.0,366.0,final_public_sale,2.0,...,180.0,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8670,246.0,NaN,NaN,duplex,296.0,350000.0,363.0,annuity_lump_sum,1.0,...,105.0,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,243.0,NaN,NaN,Loft / Attic,256.0,375000.0,359.0,NaN,NaN,...,140.0,170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1410,227.0,NaN,NaN,ground-floor,254.0,185000.0,358.0,NaN,NaN,...,170.0,153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1190,193.0,NaN,NaN,COUNTRY_COTTAGE,253.0,215000.0,356.0,NaN,NaN,...,250.0,152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9600,193.0,NaN,NaN,Penthouse,237.0,285000.0,353.0,NaN,NaN,...,220.0,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,9700,190.0,NaN,NaN,penthouse,209.0,399000.0,346.0,NaN,NaN,...,300.0,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1160,186.0,NaN,NaN,Villa,187.0,239000.0,345.0,NaN,NaN,...,125.0,143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,8434,185.0,NaN,NaN,flat-studio,184.0,235000.0,337.0,NaN,NaN,...,115.0,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1040,181.0,NaN,NaN,Wohnung,183.0,450000.0,332.0,NaN,NaN,...,400.0,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1080,166.0,NaN,NaN,LOFT,177.0,229000.0,331.0,NaN,NaN,...,65.0,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,6700,162.0,NaN,NaN,Flat,174.0,169000.0,329.0,NaN,NaN,...,135.0,128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2018,162.0,NaN,NaN,BUNGALOW,172.0,265000.0,323.0,NaN,NaN,...,1000.0,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4020,156.0,NaN,NaN,SERVICE_FLAT,166.0,595000.0,315.0,NaN,NaN,...,92.0,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,8620,148.0,NaN,NaN,apartment-block,163.0,220000.0,313.0,NaN,NaN,...,210.0,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,1090,148.0,NaN,NaN,mixed-use-building,143.0,279000.0,309.0,NaN,NaN,...,97.0,106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,1060,145.0,NaN,NaN,Duplex apartment,117.0,269000.0,306.0,NaN,NaN,...,500.0,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,8800,141.0,NaN,NaN,mansion,111.0,189000.0,303.0,NaN,NaN,...,40.0,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,3000,140.0,NaN,NaN,town-house,90.0,315000.0,301.0,NaN,NaN,...,106.0,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,8301,137.0,NaN,NaN,FARMHOUSE,89.0,159000.0,299.0,NaN,NaN,...,91.0,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,8500,135.0,NaN,NaN,MANOR_HOUSE,84.0,425000.0,298.0,NaN,NaN,...,260.0,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1640,135.0,NaN,NaN,exceptional-property,80.0,259000.0,297.0,NaN,NaN,...,88.0,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1380,133.0,NaN,NaN,loft,78.0,289000.0,297.0,NaN,NaN,...,84.0,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1400,130.0,NaN,NaN,4,76.0,335000.0,295.0,NaN,NaN,...,165.0,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,7700,129.0,NaN,NaN,2012,67.0,149000.0,293.0,NaN,NaN,...,93.0,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2830,127.0,NaN,NaN,OTHER_PROPERTY,64.0,179000.0,287.0,NaN,NaN,...,55.0,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,9200,125.0,NaN,NaN,3,62.0,345000.0,283.0,NaN,NaN,...,82.0,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,8430,123.0,NaN,NaN,country-cottage,60.0,210000.0,279.0,NaN,NaN,...,145.0,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,8200,122.0,NaN,NaN,TRIPLEX,55.0,150000.0,276.0,NaN,NaN,...,87.0,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,9500,121.0,NaN,NaN,bungalow,44.0,180000.0,274.0,NaN,NaN,...,2.0,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,1500,119.0,NaN,NaN,2016,40.0,219000.0,274.0,NaN,NaN,...,190.0,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1300,117.0,NaN,NaN,Appartement,40.0,385000.0,262.0,NaN,NaN,...,72.0,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,7000,115.0,NaN,NaN,2009,39.0,260000.0,256.0,NaN,NaN,...,94.0,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,3300,110.0,NaN,NaN,2020,38.0,125000.0,248.0,NaN,NaN,...,600.0,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN